.Header {
  background-color: none;
  display: flex;

  justify-content: space-between;

  background-color: darkcyan;
}

.Header .Header__title {
  width: 100%;

  font-size: 25px;
  margin: 20px;
}

.Header .Header__main {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.Header .Header__main1 {
  width: 100%;

  font-size: 20px;
  margin: 20px;
}

.Header .Header__mockup img {
  width: 450px;
  height: 770px;

  border-radius: 40px;
  margin-right: 35px;
}
