.Header {
  background-color: none;
  display: flex;

  justify-content: space-between;

  color: black;
}

.Header .Header__title {
  width: 100%;
  height: 5vh;

  margin-top: 15px;
}

.Header .Header__main1 {
  width: 100%;
  height: 5vh;

  margin-top: 15px;
}
